.outine {
  width: 100%;
  height: calc(100% - 110px);
  overflow: hidden;
}
.drawingBoard {
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid black;
  position: relative;
  user-select: none;
  .gridItem {
    padding: 5px;
    position: relative;
  }

  .gridContainer {
    display: grid;
    font-size: 14px;
    .renderDom {
      // background: var(--background-color);
      // padding-left: var(--padding-left);
      // padding-right: var(--padding-right);
      // padding-top: var(--padding-top);
      // padding-bottom: var(--padding-bottom);
      &::before {
        content: '';
        position: absolute;
        left: -1px;
        right: 0px;
        top: -1px;
        bottom: 0px;
        border-right: var(--border-right-width) var(--border-right-style) var(--border-right-color);
        border-left: var(--border-left-width) var(--border-left-style) var(--border-left-color);
        border-top: var(--border-top-width) var(--border-top-style) var(--border-top-color);
        border-bottom: var(--border-bottom-width) var(--border-bottom-style)
          var(--border-bottom-color);
        transition: all 0.3s;
      }
      &:hover {
        &::before {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
      .renderItem {
        transition: 0.4s;
        z-index: 9;
        cursor: pointer;
        &:hover {
          box-shadow: rgba(149, 157, 165, 0.623) 0px 8px 24px;
        }
      }
      .selectedRenderItem {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 6px 20px;
      }
    }

    .selectedItem {
      &::before {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
    .configingItem {
      &::before {
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 12px 24px -4.8px inset,
          rgba(0, 0, 0, 0.2) 0px 7.2px 12.8px -4.8px inset !important;
      }
    }
    .markItem {
      // grid-column: 2 / 5;
      // grid-row: 3 / 4;
      // transition: all 0.2s;
      text-align: center;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: -2px;
        right: 0px;
        top: -2px;
        bottom: 0px;
        border: 4px solid #418f1f;
        transition: all 0.5s;
        z-index: 999;
      }
    }
    .errorMarkItem {
      &::before {
        border: 4px solid red;
      }
    }
  }

  .editBorder {
    &::before {
      content: '';
      position: absolute;
      left: -1px;
      right: 0px;
      top: -1px;
      bottom: 0px;
      border: 2px solid black;
    }
  }

  .editItem {
    cursor: pointer;
  }

  .templateGridContainer {
    position: absolute;
    left: 25px;
    top: 25px;
    display: grid;
    font-size: 14px;
    & > div {
      &::before {
        content: '';
        position: absolute;
        left: -0.5px;
        right: 0px;
        top: -0.5px;
        bottom: 0px;
        border: 1px solid #0000002f;
      }
    }
  }

  .underMode {
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
    & > div {
      &::before {
        border: 1px solid #cccccc38;
      }
    }
  }
  .showUnderMode {
    opacity: 1;
  }
  /*定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    // background-color:#F5F5F5;
  }
  //滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
  &::-webkit-scrollbar-thumb {
    // 宽度无效，由上面的决定
    // width: 5px;
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    // background: linear-gradient(270deg, #64e6c0 0%, #687ff9 100%);
    background: rgb(220, 220, 220);
    // 控制右侧间隙，会导致圆角不完整问题
    border-right: 3px solid white;
    /*滚动条里面小方块*/
    border-radius: 513px;
    box-shadow: 8px 0 0 rgb(220, 220, 220) inset;
  }
  //滑块的浮动行为
  &::-webkit-scrollbar-thumb:hover {
    // box-shadow: 8px 0 0 #4a4a4a inset;
    cursor: pointer;
  }
  //滚动条的轨道（里面装有thumb）滚动槽
  &::-webkit-scrollbar-track {
    // 无效
    // padding-right: 93px;
    // border-right: 10px solid white;
    /*滚动条里面轨道*/
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    // background: #262335;
    // margin: 3px;
  }
  // &::-webkit-scrollbar-corner {
  //   /* 垂直和水平的交叉角 */
  //   background: #262335;
  // }
}
